{
    "Version": "2012-10-17",
    "Statement": [
        {
            "Effect": "Allow",
            "Resource": [
                "arn:aws:iam::{{ new_account_id }}:role/engineer"
            ],
            "Action": "sts:AssumeRole"
        }
    ]
}